html, body {
    margin: 0; 
    height: 100%;
    overflow:hidden;
    font-family: Poppins;
}

.home-left{
    position: absolute;
    width: 59%;
    height: 153%;
    left: -9%;
    top: -39%;
    background: linear-gradient(133.8deg, #A924CB 15.22%, #74138C 90.86%);
    transform: rotate(29.67deg);
}

.home-left-hover{
    background: linear-gradient(133.8deg, #C53DE7 15.22%, #670E7D 90.86%);
    cursor: pointer;
}

.home-right{
    position: absolute;
    width: 58.3%;
    height: 198%;
    left: 47.6%;
    top: -23%;
    background: linear-gradient(223.88deg, #E800A7 5.86%, #920069 88.68%);
    transform: rotate(29.67deg);
}

.home-right-hover{
    background: linear-gradient(223.88deg, #920069 5.86%, #E800A7 88.68%);
    cursor: pointer;
}

.home-left-img{
    position: absolute;
    height: 41%;
    left: 13%;
    top: 23%;
}

.home-left-img-hover{
    height: 45%;
    left: 11%;
    cursor: pointer;
}

.home-left-text{
    position: absolute;
    left: 15%;
    top: 70%;
    font-size: 382%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home-left-text-hover{
    top: 69.5%;
    font-size: 395%;
    cursor: pointer;
}

.home-right-img{
    position: absolute;
    height: 41%;
    right: 13%;
    top: 23%;
}

.home-right-img-hover{
    height: 45%;
    right: 13%;
    cursor: pointer;
}

.home-right-text{
    position: absolute;
    right: 13.5%;
    top: 70%;
    font-size: 382%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home-right-text-hover{
    top: 69.5%;
    font-size: 395%;
    cursor: pointer;
}

#quiz{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(33.59deg, #9948FF 9.23%, #7B045A 85.93%);
}

.maintxt{
    width: 20%;
    
    position: absolute;
    padding:10%  ;
}

#quiz-title{
    position: absolute;
    width: 38%;
    left: 105%;
    top: 46%;
    font-weight: 600;
    font-size: 96px;
    line-height: 144px;
    color: #E800A7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.insrtTit{
    position: absolute;
    left: 77%;
    top: 82%;
    font-size: 40px;
    color: #FFC9FA;
}

.insrtPoint{
    position: absolute;
    width: 100%;
    left: 77%;
    top: 107%;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #F68FEC;
}

#nextBtn{
    position: absolute;
    width: 8%;
    height: 6%;
    left: 58.8%;
    top: 57%;
    background: #670F7D;
    border-radius: 40px;
    font-weight: 600;
    font-size: 192%;
    line-height: 60px;
    text-align: center;
    color: #E800A7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#nextBtn:active{

    background: #E800A7;
    color: #670F7D;
}

#quiz-No{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 12%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #E800A7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#quizTxt{
    position: absolute;
    width: 50%;
    top: 23%;
    text-align: center;
    font-size: 34px;
    color: #FEC8F9;
    margin: 0px 25%;
}

#answers1{
    position: absolute;
    width: 35%;
    height: 5.32%;
    top: 38%;
    background: #670F7D;
    border-radius: 10px;
    margin: 0 32.5%;

    font-weight: 600;
    font-size: 24px;
    line-height: 198%;
    color: #E3B6DF;
    text-align: center;

    cursor: pointer;
}

#answers1:hover{
    background: #8C14AA;
}

#answers2{
    position: absolute;
    width: 35%;
    height: 5.32%;
    top: 45.5%;
    margin: 0 32.5%;
    background: #670F7D;
    font-weight: 600;
    font-size: 24px;
    border-radius: 10px;
    line-height: 198%;
    color: #E3B6DF;
    text-align: center;


    cursor: pointer;
}

#answers2:hover{
    background: #8C14AA;
}

#answers3{
    position: absolute;
    width: 35%;
    height: 5.32%;
    top: 53%;
    margin: 0 32.5%;
    background: #670F7D;
    font-weight: 600;
    font-size: 24px;
    border-radius: 10px;
    line-height: 198%;
    color: #E3B6DF;
    text-align: center;

    cursor: pointer;
}

#answers3:hover{
    background: #8C14AA;
}

#answers4{
    position: absolute;
    width: 35%;
    height: 5.32%;
    top: 60.5%;
    margin: 0 32.5%;
    background: #670F7D;
    font-weight: 600;
    font-size: 24px;
    border-radius: 10px;
    line-height: 198%;
    color: #E3B6DF;
    text-align: center;

    cursor: pointer;
}

#answers4:hover{
    background: #8C14AA;
}

#nextBtn2{
    position: absolute;
    width: 8%;
    height: 6%;
    left: 64.8%;
    top: 73%;
    background: #670F7D;
    border-radius: 40px;
    font-weight: 600;
    font-size: 192%;
    line-height: 60px;
    text-align: center;
    color: #E800A7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#quizTimer{
    position: absolute;
    right: 5%;
    top: 4%;
    font-weight: bold;
    font-size: 40px;
    color: #FFC9FA;
}

.img1{
    position: absolute;
    width: 30px;
    left: 64%;
    top: 39%;
}

.img2{
    position: absolute;
    width: 30px;
    left: 64%;
    top: 46.5%;
}

.img3{
    position: absolute;
    width: 30px;
    left: 64%;
    top: 54%;
}

.img4{
    position: absolute;
    width: 30px;
    left: 64%;
    top: 61.5%;
}

.right{
    color: #9BF39F !important;
    background: #8C14AA !important;
}

.false{
    color: #E94B4B !important;
}

._670F7D:hover{

    background: #670F7D !important;
}
.cursorDefault{
    cursor: default !important;
}
#nextBtn2:hover{
    background: #E800A7;
    color: #670F7D;
}

.displayNall{
    display: none;
}